.header {
  background-color: darkslategray;
  display: grid;
  height: 150px;
}

.nav__links {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.link-header {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}
